/*--main styles for the Genshin Impact themed Character Builder website*/

* {
    background-color: #0f1c3f;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: #f5f0e9;
    font-family: Arial, sans-serif;
}

header {
    display: block;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

/*search bar styling*/
.search-bar {
    display: flex;
    justify-content: center;
}

/* 1. Use Flexbox on the form wrapper to align elements */
.search-widget {
  display: flex;
  align-items: center;
  width: 300px; /* Adjust the overall width of the search widget */
  max-width: 100%;
  margin: 20px 0; /* Add some space above and below */
}

/* 2. Style the text input field */
.search-widget input[type="text"] {
  flex-grow: 1; /* Allows the input to take up all available space */
  padding: 8px;
  border: 1.5px solid #E0C58F;
  border-right: none; /* Removes the border where it meets the button */
  border-radius: 20px 0 0 20px; /* Rounds the left corners only */
  font-size: 0.875rem;
}

/* 3. Style the search button */
.search-button {
  padding: 8px;
  background-color: #3C507D; /*button color*/
  color: #E0C58F;
  border: 1.5px solid #E0C58F;
  border-radius: 0 20px 20px 0; /* Rounding the right corners (to the button) */
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
 }

/* 4. Hover effect for the button */
.search-button:hover {
  text-shadow: 0 0 8px #E0C58F;
}

h1 { 
    color: #E0C58F;
    font-weight: bold;
    font-size: 2.8125rem;
    text-shadow: 0 0 50px #e2bc7f; /*for the glowing effect*/
    margin: 15px 0;

    /*1-according to google, we need to add the gredient as a bg image first*/
    background-image: linear-gradient(to right, #d9cbc2, #687aa3, #daa2e6, #E0C58F);
    background-attachment: fixed; /*should lock the gradient in place but I see no difference, colors are still changing when resizing window*/
    /*2-then we need to clip the background to the text*/
    background-clip: text;
    -webkit-background-clip: text; /*for compatibility across browsers (chrome, safari, edge, opera), 
    mozilla for ex takes the prefix -moz- instead*/
    background-size: 85% 100%;
    /*3-then we need to make the text fill color transparent so that the background shows through*/
    color: transparent;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: #E0C58F;
}

h3 {
    font-size: 1.375rem;
    color: #d9cbc2;
}

nav {
    text-align: center;
    color: #E0C58F;
    margin-bottom: 20px;
}


a:link, a:visited {
    color: #d9cbc2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*---styling the character cards in the Available Characters page*/
ul.character-cards img{
    height: 100px;
    width: auto;
}

/*---for each Character's page*/
.main {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.character-id-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 15px;
}

div.character-id-card img {
    margin: left;
    height: 500px;
    width: auto;
    border-radius: 15px;
    box-shadow: 0 0 20px #e2bc7f;
}

/*styling the About texts in each Character's page as a column 
instead of one centered section*/
.character-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 70%;
}

div.character-content h2 {
    font-size: 1.75rem;
    font-weight: bold;
    color: #E0C58F;
    margin-left: 20px;
    margin-bottom: 5px;    
    margin-top: 0px;    
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.character-content .h2-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    box-shadow: none;
}

.character-content p {
    display: flex;
    flex-direction: column;
    border: 0.5px solid #e2bc7f;
    border-radius: 10px;
    box-shadow: 0 0 5px #000000;
    margin-left: 20px;
    padding: 15px;
    font-size: 1.125rem;
    line-height: 1.2;
}

.character-build {
    display: flex;
    flex-direction: column;
}

.character-build h3 {
    font-size: 1.375rem;
    font-weight: bold;
    color: #d9cbc2;
    margin-left: 20px;
    margin-bottom: 10px;
}

.character-build table {
    border: 0.5px solid #e2bc7f;
    border-radius: 10px;
    box-shadow: 0 0 5px #000000;
    margin-left: 20px;
    padding: 10px;
    font-size: 1.125rem;
    line-height: 1.5;
    width: 98%;
}

.character-build th {
    text-align: left;
    padding-right: 15px;
    color: #3C507D;
}

/*the materials table in a character's build page*/
.materials-calc {
    display: flex;
    width: 90%;
    align-items: left;
    flex-direction: column;
    margin-top: -5px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.materials-table {
    border-style: collapse;
}

.materials-table th, .materials-table td {
    border: #e2bc7f 0.5px solid;
    width: 50%;
    padding: 8px;
    border-radius: 15px;
}

.materials-table th {
    background-color: #1b2635;
    color: #E0C58F;
}

footer {
    display: flex;
    font-size: 0.875rem;
    color: #d9cbc2;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 10px;
}